:root{
  --light-blue: rgb(0, 166, 255);
  --dark-blue: rgb(3, 29, 123);
  --blue: #0c52a1;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100%;
    overflow: hidden;
}
/* ************************************************ */
/* VIDEO BACKGROUND */
/* ************************************************ */
#videoBG{
    position: fixed;
    min-width: 100vw;
    min-height: 100%;
    z-index: -2;

}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: -1;
}

/* ************************************************ */
/* NAVBAR */
/* ************************************************ */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
}
.navbar a{
    text-decoration: none;

}
.navbar ul li{
    list-style: none;
}
.hamburger {
    display: none;
}
.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-item {
  padding: 8px 20px;
}
.nav-item:hover {
  background-color: var(--light-blue);
  color: white;
  border-radius: 5px ;
}
.nav-link{
  font-size: 20px;
  font-weight: 400;
  color: rgb(255, 255, 255);
  font-family: 'El Messiri', sans-serif;
}
.nav-logo {
  padding-left: 50px;
}
.logo{
  width: 300px;
}
/* Mobile Nav */
.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #ffffff;
}


/* ************************************************ */
/* HOME PAGE */
/* ************************************************ */
.content {
    position: relative;
    text-align: center;
    width: 80%;
    margin: auto;
    display: block;
    text-transform: none;
    margin-top: 15%;
}
.title1 {
    font-size: 30px;
    color: var(--light-blue);
    font-weight: 800;
}
.title2 h1{
    font-size: 60px;
    color: #f1f1f1;
    font-family: 'El Messiri', sans-serif;

}
.title2 p{
    font-size: 18px;
    color: #f1f1f1;
}

.VisitButton {
    background:linear-gradient(to left, #0072ff, #00c6ff);
    border: none;
    border-radius: 30px;
    text-align: center;
    font-size: 16px;
    padding: 12px 15px;
    width: 150px;
    margin-top: 30px;
    transition: all 0.5s;
    cursor: pointer;
    align-items: center;
    font-family: 'Ubuntu', sans-serif;
}
.VisitButton  a span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
    color: #FFFFFF;
}
.VisitButton  span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}
.VisitButton :hover span {
    padding-right: 25px;
    color: var(--dark-blue);
}
.VisitButton :hover span:after {
    opacity: 1;
    right: 0;
    color: var(--dark-blue);

}
/* ************************************************ */
/* REPORT RISK */
/* ************************************************ */

.report-risk{
    align-items: center;
    text-align: center;
    padding: 10px;
    background: transparent;
    align-items: center;
    justify-content: center;
    width: 90%;
    margin: auto auto;
}
.report-content{
  font-size: 16px;
  color: white;
  margin-bottom: 20px;
  font-family: 'Ubuntu', sans-serif;
}

  ::selection{
    color: #fff;
    background: var(--light-blue);
  }
  .report-risk form{

    margin-bottom: 10px;
  }
  .report-risk form.disabled{
    pointer-events: none;
    opacity: 0.7;
  }
.report-form .report-form-field{
    display: flex;
    margin-bottom: 2px;
    justify-content: space-between;
  }
 .report-form-field .report-field{
    height: 50px;
    display: flex;
    position: relative;
    width: 45%;
    margin-bottom: 20px;
  }
  .report-form .report-file{
    height: 50px;
    display: flex;
    position: relative;
    width: 100%;
    margin-bottom: 20px;
    text-align: center;
  }
  
.report-form .report-field input,
.report-form .report-file input,
.report-form .report-message textarea{
    width: 100%;
    height: 100%;
    outline: none;
    padding: 15px;
    font-size: 16px;
    font-family: 'Ubuntu', sans-serif;
    border-radius: 5px;
    border: 1px solid rgb(0, 48, 169);
    background-color: var(--light-blue);
  }
  .report-field input::placeholder,
  .report-form .report-file input,
  .report-message textarea::placeholder{
    color: rgb(255, 255, 255);
  }
  .report-field input:focus,
  .report-form .report-file input:focus,
  .report-message textarea:focus{
    padding-left: 15px;
    border: 2px solid #0D6EFD;
  }
.report-form .report-message{
    position: relative;
    display: flex;
  
  }
.report-form .report-message textarea{
    width: 100%;
    height: 150px;
    padding: 15px;
  }
.report-form  .report-message textarea:focus{
    padding-top: 14px;
  }
.report-form .report-button-area{
    margin: 25px 0;
    display: flex;
    align-items: center;
  }
  .report-button-area button{
    font-size: 16px;
    border: 0px;
    background-color: var(--light-blue);
    color:white;
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
    background-image: linear-gradient(to right, #1FA2FF 0%, #12D8FA  51%, #1FA2FF  100%);
    transition: 0.5s;
    background-size: 200% auto;       
    border-radius: 30px;
    padding: 13px 30px;
  }
  .report-button-area button:hover{
    background-color: var(--dark-blue);
    cursor: pointer;
    background-position: right center;
  }
  .report-button-area span{
    font-size: 16px;
    font-family: 'Ubuntu', sans-serif;
    margin-left: 30px;
    display: none;
  }

/* ************************************************ */
/*OUR TEAM */
/* ************************************************ */
.our-team-main-title {
    font-size: 45px;
    text-align: center;
    font-weight: 700;
    color: #fff;
    font-family: "Playfair Display", serif;
    position: relative;
    display: block;
    line-height: 1.2;
    margin-bottom: 30px;
    margin-top: 5%;
}

.our-team-box{
    height: 300px;
    width: 1000px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgba(11, 155, 239, 0.5);
    color: #fff;
    border-radius: 20px;
    margin: auto;
    flex-wrap: wrap;
  }
  .profile-card{
    position: relative;
    font-family: sans-serif;
    width: 150px;
    height: 150px;
    background: #fff;
    padding: 20px;
    border-radius: 50%;
    box-shadow: 0 0 22px #3336;
    transition: .6s;
    margin: 0 20px;
  }
  .profile-card:hover{
    border-radius: 10px;
    height: 220px;
  }
  .profile-card .img{
    position: relative;
    width: 100%;
    height: 100%;
    transition: .6s;
    z-index: 99;
  }
  .profile-card:hover .img{
    transform: translateY(-60px);
  }
  .img img{
    width: 100%;
    border-radius: 50%;
    box-shadow: 0 0 22px #3336;
    transition: .6s;
  }
  .profile-card:hover img{
    border-radius: 10px;
  }
  .caption{
    text-align: center;
    transform: translateY(-115px);
    opacity: 0;
    transition: .6s;
  }
  .profile-card:hover .caption{
    opacity: 1;
  }
  .caption h3{
    font-size: 18px;
    font-family: 'Ubuntu', sans-serif;
    color: black;
    text-transform: none;
  }
  .caption p{
    font-size: 15px;
    color: var(--dark-blue);
    font-family:'Ubuntu', sans-serif;
    margin: 2px 0 9px 0;
    font-weight: 500;
  }
  .caption h5{
    font-size: 12px;
    color: var(--dark-blue);
    font-family:'Ubuntu', sans-serif;
    margin: 0;
  }
/* ************************************************ */
/*CONTACT FORM */
/* ************************************************ */

.contact-main-title {
  font-size: 44px;
  font-weight: 700;
  color: rgb(255, 255, 255);
  font-family: "Playfair Display", serif;
  position: relative;
  display: block;
  line-height: 1.2;
  margin-bottom: 30px;
  text-align: center;
}
.contact-us{
    text-align: center;
    padding: 20px;
    background: transparent;
    align-items: center;
    justify-content: center;
    width: 50%;
    border-radius: 10px;
    margin: auto auto;
  
  }
  ::selection{
    color: #fff;
    background: #0D6EFD;
  }
  .contact-us form{
    margin: 30px;
  }
  .contact-us form.disabled{
    pointer-events: none;
    opacity: 0.7;
  }
  form .form-field{
    display: flex;
    margin-bottom: 25px;
    justify-content: space-between;
  }
  .form-field .field{
    height: 50px;
    display: flex;
    position: relative;
    width: 45%;
    margin-bottom: 30px;
  }
  
  form .field input,
  form .message textarea{
    width: 100%;
    height: 100%;
    outline: none;
    padding: 15px;
    font-size: 16px;
    font-family: 'Ubuntu', sans-serif;
    border-radius: 10px;
    border: 1px solid var(--dark-blue);
    background-color: var(--light-blue);
  }
  .field input::placeholder,
  .message textarea::placeholder{
    color: rgb(255, 255, 255);
  }
  .field input:focus,
  .message textarea:focus{
    padding-left: 15px;
    border: 2px solid #0D6EFD;
  }
  form .message{
    position: relative;
    display: flex;
  
  }
  form .message textarea{
    width: 100%;
    height: 250px;
    padding: 15px;
  }
  .message textarea:focus{
    padding-top: 14px;
  }
  form .button-area{
    margin: 25px 0;
    display: flex;
    align-items: center;
  }
  .button-area button{
    font-size: 16px;
    border: 0px;
    background-color: var(--light-blue);
    color:white;
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
    background-image: linear-gradient(to right, #1FA2FF 0%, #12D8FA  51%, #1FA2FF  100%);
    transition: 0.5s;
    background-size: 200% auto;       
    border-radius: 30px;
    padding: 13px 25px;
  }
  .button-area button:hover{
    background-color: rgb(3, 76, 171);
    cursor: pointer;
    background-position: right center;
  }
  .success-message{
    font-size: 16px;
    font-family: 'Ubuntu', sans-serif;
    margin-left: 30px;
    color: whitesmoke;
    text-align: left;
  }


/* ************************************************ */
/* FOOTER */
/* ************************************************ */
.footer{
  position: fixed;
  bottom: 0;
  width: 100%;
  color: white;
  background-color: #002046;
}
.footer-menu {
  display: flex;
  justify-content:right;

}
.footer ul li{
  list-style: none;
}
.footer-item {
  padding: 8px 20px;
}
.footer-link{
  text-decoration: none;
  color: white;
  font-size: 16px;
  font-family: "Playfair Display", serif;
}
.footer-link:hover{
  color: var(--light-blue);
}



.portal-policy-home{
  margin: auto;
  margin-top: 5%;
  display: block;
  text-align: center;
  width: 70%;
  background-color: rgba(26, 175, 208, 0.5);
  border-radius: 15px;
}
.portal-policy-title{
  padding-top: 20px;
  color: white;
  font-size: 30px;
  font-family: 'El Messiri', sans-serif;
  font-weight: 900;
}
.portal-policy-content .terms-item{
  font-size: 18px;
  color: white;
  text-align: justify;
  padding: 30px 40px;
}

/* ************************************************ */
/* MAP STYLE START*/
/* ************************************************ */

main {
    display: flex;
}
.dam-list {
    width: 20%;
    height: 100vh;
    overflow: auto;
    background: whitesmoke;
    position: relative;
}
#map {
    height: 100vh;
    width: 80%;
    z-index: 1;
}
/* Coordinate button */
#coordinateButton {
    position: absolute;
    bottom: 60px;
    right: 10px;
    z-index: 400;
    background-color: var(--light-blue);
    margin: auto;
    border: none;
    padding: 0 5px;  
    border: 1px solid rgb(3, 29, 123);  
}
.coordinate{
  font-family: 'El Messiri', sans-serif;
    color: white;
}



.BackButton{
    padding: 10px 5px;
    border: none;
    background-color: whitesmoke;
}
.heading h2 {
  background-color: var(--light-blue);
    font-size: 26px;
    color: #fff;
    padding: 1rem;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
}
.heading a{
    text-decoration: none;
    padding: 10px;
    color: black;
    font-size: 16px;
    font-family: 'Ubuntu', sans-serif;
}

.select-heading {
    padding: 10px;
    font-size: 22px;
    font-family: 'Ubuntu', sans-serif;
    text-align: center ;
    width: 100%;
    background-color: var(--light-blue);
    color: white;
}

form.dam-search input[type=text] {
    padding: 10px;
    font-size: 14px;
    border: 3px black;
    float: left;
    width: 100%;
    background: #f1f1f1;
}

.classifyButton {
  background-color: var(--light-blue);
    border: none;
    text-align: center;
    font-size: 16px;
    padding: 10px;
    width: 100%;
    transition: all 0.5s;
    cursor: pointer;
    align-items: center;
    font-family: 'Ubuntu', sans-serif;
}
.classifyButton a span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
    color: #FFFFFF;
}
.classifyButton span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}
.classifyButton:hover span {
    padding-right: 25px;
    color: var(--dark-blue);
}
.classifyButton:hover span:after {
    opacity: 1;
    right: 0;
    color: var(--dark-blue);

}

/* User guide */
.user-guide {
  background-color: var(--dark-blue);
    border: none;
    text-align: center;
    font-size: 16px;
    padding: 10px;
    margin-top: 20px;

    width: 100%;
    transition: all 0.5s;
    cursor: pointer;
    align-items: center;
    font-family: 'Ubuntu', sans-serif;
}

.user-guide a span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
    color: #FFFFFF;
}
.user-guide span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}
.user-guide:hover span {
    padding-right: 25px;
    color: var(--light-blue);
}
.user-guide:hover span:after {
    opacity: 1;
    right: 0;
    color: var(--light-blue);

}

::-webkit-scrollbar {
    width: 15px;
    height: 4px;
    border-left: 0;
    background: rgba(0, 0, 0, 0.1);
}
::-webkit-scrollbar-thumb {
    background: #0091ff;
    border-radius: 0;
}
.dam-list ul.list {
    padding: 0 1rem;
    list-style-type: none;
}
.dam-list .dam-item {
    margin: 0.8rem 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding-bottom: 0.7 rem;
}
.dam-list li:last-child .dam-item {
    border: none;
}
.dam-list .dam-item a {
    text-decoration: none;
    font-size: 14px;
    color: var(--light-blue);
    font-weight: 700;
}
.dam-list .dam-item p {
    font-size: 12px;
    color: #404040;
}
.leaflet-popup-content-wrapper {
    padding: 0;
    overflow: hidden;
}
.leaflet-popup-content-wrapper .leaflet-popup-content {
    margin: 0;
}
.leaflet-popup-content-wrapper h4 {
    padding: 13px;
    background: #18c0fd;
    color: #fff;
    font-size: 16px;
}
.leaflet-popup-content-wrapper p {
    padding: 0 16px;
    font-size: 14px;
    margin-bottom: 14px;
    color: black;
}
.leaflet-popup-content-wrapper .leaflet-popup-content img {
  width: 300px;
  height: 100%;
  padding: 20px;
  align-items: center;
  }
.leaflet-popup-content-wrapper .leaflet-popup-content .read-more {
    padding: 16px;
    padding-top: 0;
    text-decoration: underline;
}
.leaflet-popup-content-wrapper .leaflet-popup-content .read-more a {
    color: #13bbe1;
    font-size: 14px;
}

#select-state{
    width: 100%;
    font-size: 16px;
    background-color: var(--light-blue);
    padding: 10px 0px;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    color: white;
}

#select-basin{
    width: 100%;
    font-size: 16px;
    background-color: var(--light-blue);
    padding: 10px 0px;
    text-align: center;
    color: white;
    font-family: 'Ubuntu', sans-serif;
}

/* ************************************************ */
/* RISK ANALYSIS */
/* ************************************************ */
.risk-analysis{
  height: 100vh;
  width: 80%;
  box-sizing: border-box;
  text-align: center;
}
img {
  vertical-align: middle;
}
.container {
  position: relative;
}
.mySlides {
  display: none;
}
.prev{
  cursor: pointer;
  position: absolute;
  top: 30%;
  width: auto;
  padding: 10px;
  left: 0%;
  color: rgb(0, 0, 0);
  font-weight: bold;
  font-size: 40px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}
.next {
  cursor: pointer;
  position: absolute;
  top: 30%;
  width: auto;
  padding: 10px;
  right: 0%;
  color: var(--dark-blue);
  font-weight: bold;
  font-size: 40px;
  border-radius: 3px 0 0 3px;
  user-select: none;
  -webkit-user-select: none;
}
.prev:hover,
.next:hover {
  background-color: var(--light-blue);
  color: white;
}
.numbertext {
  color: #000000;
  font-size: 20px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
  font-family: 'El Messiri', sans-serif;
}
.caption-container {
  text-align: center;
  background-color: var(--dark-blue);
  padding: 2px 16px;
  color: white;
  font-size: 18px;
  font-family: 'El Messiri', sans-serif;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
.column {
  float: left;
  width: 20%;
}
.demo {
  opacity: 0.6;
  border: 1px solid rgb(0, 17, 71);
  cursor: pointer;
}
.active-img,
.demo:hover {
  opacity: 1;
  border: 3px solid black;
}














