  /* ************************************************ */
  /* WIDTH GREATER THAN 1600
  /* ************************************************ */
@media only screen and (min-width: 1600px) {
  .title1 {
    font-size: 38px;
  }
  .title2 h1 {
    font-size: 65px;
  }
  .title2 p {
    font-size: 22px;
  }
  #select-state {
    font-size: 18px;
  }
  #select-basin {
    font-size: 18px;
  }
}

  /* ************************************************ */
  /* WIDTH 768px - 991px
  /* ************************************************ */
@media only screen and (max-width: 991px) {
  .nav-item {
    padding: 10px 10px;
  }
  .nav-link {
    font-size: 16px;
  }
  .logo {
    width: 260px;
  }
  .report-content {
    font-size: 10px;
    justify-content: center;
  }
  .report-risk form {
    margin-bottom: 5px;
  }
  .report-form .report-form-field {
    flex-direction: column;
    margin-bottom: 2px;
  }
  .report-form-field .report-field {
    height: 40px;
    display: flex;
    position: relative;
    width: 100%;
    margin-bottom: 20px;
  }
  .report-form .report-field input,
  .report-form .report-file input,
  .report-form .report-message textarea {
    width: 100%;
    outline: none;
    padding: 10px;
    font-size: 14px;
  }
  .report-form .report-message {
    position: relative;
    display: flex;

  }
  .report-form .report-message textarea {
    width: 100%;
    height: 100px;
    padding: 10px;
  }
  .report-form .report-message textarea:focus {
    padding-top: 10px;
  }
  .report-form .report-button-area {
    margin: 10px 0;
    display: flex;
    align-items: center;
  }
  .report-button-area button {
    font-size: 14px;
  }
  .report-button-area button:hover {
    background-color: var(--dark-blue);
    cursor: pointer;
    background-position: right center;
  }
  .report-button-area span {
    font-size: 14px;
  }
  /* Contact us */
  .contact-us {
    margin: auto;
    width: 90%;
  }
  form .form-field {
    flex-direction: column;
    margin-top: 10px;

  }
  form .field input,
  form .message textarea {
    padding: 10px 10px;
  }
  form .form-field .field {
    width: 100%;
    height: 45px;
    margin-top: 10px;
  }
  form .message textarea {
    resize: none;
    height: 150px;
  }
  form .button-area {
    flex-direction: column;
  }
  .button-area button {
    width: 100%;
    padding: 11px 0;
    font-size: 16px;
  }
  .button-area span {
    margin: 10px 0px 0px 0px;
    text-align: center;
  }
  /* Our-Team */
  .our-team-box {
    height: 200px;
    width: 700px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgba(11, 155, 239, 0.5);
    color: #fff;
    border-radius: 20px;
    margin: auto;
    flex-wrap: wrap;
  }
  .profile-card {
    position: relative;
    font-family: sans-serif;
    width: 100px;
    height: 100px;
    background: #fff;
    padding: 10px;
    border-radius: 50%;
    box-shadow: 0 0 22px #3336;
    transition: .6s;
    margin: 0 8px;
    display: inline-block;
  }
  .profile-card:hover {
    border-radius: 10px;
    height: 150px;
  }
  .profile-card:hover .img {
    transform: translateY(-40px);
  }
  .caption {
    text-align: center;
    transform: translateY(-80px);
  }
  .profile-card:hover img {
    border-radius: 4px;
  }
  .caption h3 {
    font-size: 12px;
    text-transform: none;
  }
  .caption p {
    font-size: 10px;
    margin: 0px;
  }
  .caption h5 {
    font-size: 9px;
  }
  .portal-policy-title {
    padding-top: 10px;
    font-size: 25px;
  }
  .portal-policy-content .terms-item {
    font-size: 16px;
  }
}

  /* ************************************************ */
  /* WIDTH 480 - 768px
  /* ************************************************ */
@media only screen and (max-width: 768px) {

  /* Mobile Navbar */
  .nav-menu {
    position: fixed;
    left: -100%;
    top: 8rem;
    flex-direction: column;
    background-color: rgba(17, 19, 56, 0.9);
    width: 100%;
    border-radius: 10px;
    text-align: center;
    transition: 0.3s;
    z-index: 100;
    box-shadow: 0 10px 27px rgba(255, 255, 255, 0.05);
  }
  .nav-menu.active {
    left: 0;
  }
  .nav-item {
    margin: 1.0rem 0;
  }
  .nav-logo {
    padding-left: 10px;
  }
  .logo {
    width: 250px;
  }
  .hamburger {
    display: block;
    cursor: pointer;
  }
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
  /* Home main title */
  .title1 {
    font-size: 25px;
    font-weight: 600;
  }
  .title2 h1 {
    font-size: 40px;
  }
  .heading h2 {
    font-size: 24px;
    padding: 1rem;
  }
  .heading a {
    padding: 10px;
    font-size: 12px;
  }
  /* Our Team */
  .our-team-main-title {
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 30px;
  }
  .our-team-box {
    flex-direction: row;
    height: 340px;
    width: 400px;
    align-items: center;
  }
  .select-heading {
    padding: 10px;
    font-size: 16px;
  }
  form.dam-search input[type=text] {
    padding: 10px;
    font-size: 10px;
  }
  .classifyButton {
    font-size: 14px;
  }
  .user-guide {
    font-size: 14px;
}
  .BackButton {
    font-size: 9px;
    padding: 0;
  }
  #select-state {
    font-size: 12px;
  }
  #select-basin {
    font-size: 12px;
  }
  .dam-list ul.list {
    padding: 0 0.5rem;
  }
  .dam-list .dam-item a {
    font-size: 10px;
    padding: 0px;
  }
  .dam-list .dam-item {
    margin: 0 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding-bottom: 0;
  }
  .dam-list .dam-item p {
    font-size: 10px;
  }
  .leaflet-popup-content-wrapper h4 {
    padding: 8px;
    font-size: 12px;
  }
  .leaflet-popup-content-wrapper p {
    padding: 0 6px;
    font-size: 10px;
  }
  .leaflet-popup-content-wrapper .leaflet-popup-content .read-more {
    padding: 2px;
  }
  .leaflet-popup-content-wrapper .leaflet-popup-content .read-more a {
    color: #13bbe1;
    font-size: 10px;
  }
  /* Contact us */
  .contact-main-title {
    font-size: 30px;
    font-weight: 700;
    line-height: 1.0;
    margin-bottom: 0px;
    margin-top: 5px;
  }
  .contact-us {
    margin: auto;
    width: 100%;
  }
  form .form-field {
    flex-direction: column;
    margin-top: 4px;
  }
  form .field input,
  form .message textarea {
    padding: 5px 5px;
  }
  form .form-field .field {
    width: 100%;
    height: 40px;
    margin-top: 4px;
  }
  form .message textarea {
    resize: none;
    height: 150px;
  }
  form .button-area {
    flex-direction: column;
  }
  .button-area button {
    width: 100%;
    padding: 11px 0;
    font-size: 16px;
  }
  .button-area span {
    margin: 4px 0px 0px 0px;
    text-align: center;
  }
  .footer ul li {
    margin: auto auto;
  }
  .footer-item {
    padding: 5px 5px;
  }
  .footer-link {
    font-size: 10px;
  }
  /* WEBSITE POLICIES  */
  .portal-policy-home {
    margin-top: 3%;
    width: 95%;
    border-radius: 10px;
  }
  .portal-policy-title {
    padding-top: 10px;
    font-size: 20px;
  }
  .portal-policy-content .terms-item {
    font-size: 13px;
    padding: 20px 20px;
  }
  .mannual img {
    bottom: 50px;
    left: 0px;
  }
  .lulc-analysis img {
    bottom: 0px;
    left: 0px;
  }
  #coordinateButton {
    display: none;
}
}

  /* ************************************************ */
  /* WIDTH LESS THAN 480px
  /* ************************************************ */
@media only screen and (max-width: 480px) {
  .title1 {
    font-size: 25px;
    font-weight: 600;
  }
  .title2 h1 {
    font-size: 40px;
  }
  .heading h2 {
    font-size: 16px;
    padding: 1rem 0rem;
  }
  .heading a {
    padding: 10px;
    font-size: 12px;
  }
  .logo {
    width: 200px;
  }
  .our-team-box {
    flex-direction: column;
    height: 450px;
    width: 200px;
    justify-content: space-evenly;
    align-items: center;
  }
  .profile-card {
    width: 65px;
    height: 65px;
    padding: 8px;
    margin: 0 8px;
  }
  .profile-card:hover {
    border-radius: 5px;
    height: 80px;
  }
  .profile-card:hover .img {
    transform: translateY(-25px);
  }
  .caption {
    text-align: center;
    transform: translateY(-38px);
  }
  .profile-card:hover img {
    border-radius: 3px;
  }
  .caption h3 {
    font-size: 8px;
    text-transform: none;
  }
  .caption p {
    font-size: 6px;
    margin: 0;
  }
  .caption h5 {
    font-size: 6px;
  }
  .select-heading {
    padding: 10px;
    font-size: 12px;
  }
  form.dam-search input[type=text] {
    padding: 10px;
    font-size: 8px;
  }
  .classifyButton {
    font-size: 11px;
  }
  .user-guide {
      font-size: 11px;
  }
  .BackButton {
    font-size: 9px;
    padding: 0;
  }
  #select-state {
    font-size: 9px;
  }
  #select-basin {
    font-size: 9px;
  }
  .dam-list ul.list {
    padding: 0 0.5rem;
  }
  .dam-list .dam-item a {
    font-size: 8px;
    padding: 0px;
  }
  .dam-list .dam-item {
    margin: 0 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding-bottom: 0;
  }
  .dam-list .dam-item p {
    font-size: 8px;
    color: #000000;
  }
  .leaflet-popup-content-wrapper h4 {
    padding: 8px;
    font-size: 12px;
  }
  .leaflet-popup-content-wrapper p {
    padding: 0 6px;
    font-size: 10px;
  }
  .leaflet-popup-content-wrapper .leaflet-popup-content .read-more {
    padding: 2px;
  }
  .leaflet-popup-content-wrapper .leaflet-popup-content .read-more a {
    color: #13bbe1;
    font-size: 10px;
  }
  /* WEBSITE POLICIES  */
  .portal-policy-home {
    margin-top: 0%;
    width: 95%;
    border-radius: 10px;
  }
  .portal-policy-title {
    padding-top: 10px;
    font-size: 18px;
  }
  .portal-policy-content .terms-item {
    font-size: 12px;
    padding: 5px 15px;
  }
  .prev {
    font-size: 15px;
  }
  .next {
    font-size: 15px;
  }
  .numbertext {
    font-size: 12px;
  }
  .caption-container {
    padding: 2px 5px;
    font-size: 12px;
  }


}